@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1.5rem;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.flex img {
  max-width: 400px;
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1024px;
  padding: 0 1.5rem;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.flex > * {
  flex: 1;
  min-width: 350px;
}
.btn {
  display: inline-block;
  background-color: #F15B22;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* Header Section */
.header-section {
  background: url("../assets/images/banner/banner2.png") center / cover no-repeat;
  padding: 8rem 0;
  text-align: right;
}
.header-section .container > * {
  max-width: 400px;
  margin-left: auto;
}

/* Failure Section */
.failure-section {
  padding: 4rem 0;
}
.failure-section ul li {
  margin-bottom: 0.5rem;
}
.failure-section ul li i {
  color: #16D887;
  margin-right: 10px;
}

/* My Plan Section */
.plan-section {
  padding: 4rem 0;
  text-align: center;
}
.plan-section .card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.plan-section .card-container .card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.plan-section .card img {
  margin-bottom: 1rem;
}